name: CI

on:
    workflow_dispatch:
    pull_request:
        types: [opened, edited, synchronize, reopened]
    push:

jobs:
    format-lint-test:
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout source code'
              uses: actions/checkout@v3

            - name: 'Restore node_modules cache'
              id: cache-npm
              uses: actions/cache@v3
              with:
                  path: node_modules
                  key: npm-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      npm-${{ env.cache-name }}-
                      npm-

            - name: 'Install npm dependencies'
              if: steps.cache-npm.outputs.cache-hit != 'true'
              run: HUSKY=0 npm ci

            - name: 'Format'
              run: npm run prettier:verify

            - name: 'Lint'
              run: npm run lint

            - name: 'Unit test'
              run: npm run test:coverage

            - name: 'Upload code coverage to Codecov.io'
              uses: codecov/codecov-action@v3
